/* begin code - 31.7.2018 */
html,body{
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  body.flex{
      display: flex;
      flex-direction: column;
  }
  
  .header-logo{
      width: 100px;
    margin: auto;
  }
  .logo img {
    width: 100px;
    height: auto;
  }
  .header-navbar {
    display: flex;
    padding: 2px;
    background: #d8faeb;
  }
  .header-image > a > img{
    width: 220px;
    height: 90px;
    opacity: 0.7;
  }
  .big-title{
    color: #079309;

    text-transform: uppercase;
    word-spacing: 5px;
    padding: 5px 0;
    font-weight: bold;
  }
  @media only screen and (max-width: 635px){
    .header-navbar {
        display: none !important;
    }
  }
  @media only screen and (max-width: 954px) and (min-width: 775px){
    .big-title{
        font-size: 14px;
    }
    .small-title{
        font-size: 18px;
    }
  }
  @media only screen and (min-width: 955px){
    .big-title{
        font-size: 20px;
    }
    .small-title{
        font-size: 24px;
    }
  }
  .small-title{
    color: #079309;
    text-transform: uppercase;
    word-spacing: 5px;
    font-weight: bolder;
    text-shadow: 1px 1px #999;
  }
  
  .header-title{
      flex-grow: 1;
  padding-top: 10px;
  padding-left: 10px;
  }
  
  .logo {
  margin: 20px 0 40px 0;
  }
  
  .logo img {
  width: 90px;
  height: auto;
  }

div#mapDiv {
    flex-grow: 1;
}
#search-tool>div {
    height: 100%;
}
#search-tool > div > span > span > span.k-select, #search-tool > div > span > span > span.k-input{
    background-color: #079309;
    color: #fff;
}
ul.fieldList {
    margin: 0;
    list-style: none;
    padding: 0;
}
label {
    display: inline-block;
    width: 100%;
    margin-bottom: 2px;
    margin-top: 8px;
    font-weight: bold;
    font-size: 12px;
}
input.input-field.k-textbox, input.input-field {
    height: 35px;
    color: #000;
    border-color: #bcb0b0;
    border-width: 1px;
    border-style: solid;
}
span.k-widget.k-dropdown.k-header.input-field, span.k-widget.k-datepicker.k-header.input-field {
    color: #000;
    border-color: #bcb0b0;
    border-width: 1px;
    border-style: solid;
}
.content-panel{
    padding: 0 10px;
    overflow-y: auto;
    max-height: 60vh !important;
    background: #d8faeb;
}
div#title-search {
    background-color: #079309;
    color: #fff;
    padding: 7px 6px;
    font-weight: 500;
}
#query-fields-widget button.k-primary{
    margin: 10px 0;
    width: 100%;
    background: #079309;
    border-color: #079309;
}
button.k-primary ,.k-header{
    background: #079309;
    border-color: #079309;
}
.k-primary:hover,.k-primary.k-state-active,.k-primary:active:hover, .k-primary:hover, .k-primary.k-state-focused, .k-primary:active, .k-primary:focus {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
a.k-button.k-button-icontext.k-grid-custom{
    background: #079309;
    border-color: #079309;
}
.k-grid .k-header .k-button:hover{
    background: #5cc461;
    border-color: #5cc461;
}
.k-calendar .k-today {
    background-color: #5cc461;
}
.panel-info {
    border-color: #079309;
}

.panel-group {
    background-color: #079309;
    margin-bottom: 20px;
    padding: 1px 2px 4px 2px;
}
.left_panel1{
    position: absolute;
    right: 5px;
    top: 158px;
    width: 300px;
}
div#LayerList_Content {
    overflow-y: auto;
    max-height: 60vh !important;
}
.esriToggleButton.esri-icon-right {
    margin-right: 6px;
}
.esriToggleButton.esri-icon-down {
    margin-right: 6px;
}


/* video css */
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.table thead tr th {
    text-align: left;
    background-color: #079309;
    color: #fff;
}
.table th, .table td {
    padding: 10px !important;
}
input.btn-custom{
    padding: 6px;
    margin: 10px;
    background-color: #079309;
    color: #fff;
    width: 120px;
}
input.btn-custom:hover{
    background-color: #3ead3f;
    color: #fff;
}
input.btn-custom-default{
    padding: 6px;
    margin: 10px;
    width: 120px;
    background-color: #CDCDCD;
    border: 1px solid #9d9d9d;
    color: #333;
}
input.btn-custom-default:hover{
    background-color: #f8f8f8;
}
input#insert-data{
    float: right;
    padding: 8px;
    margin: 10px;
    width: 120px;
}
.content {
    padding: 0 10px;
}
.video-frame {
    margin: 15px 10px;
}
.video-group {
    margin-top: 20px;
}
.input-control{
    color: #000;
    border-color: #bcb0b0;
    border-width: 1px;
    border-style: solid;
    margin: 0 10px 0 0;
    width: 125px;
}
.input-field {
    margin-bottom: 20px;
}
span.k-widget.k-datepicker.k-header {
    margin: 0 10px 0 0;
}

  

/* Bản đồ ngập */
.esri-component.esri-legend.esri-widget{
background-color: transparent;
width: fit-content;
max-height: none;

}
.esri-legend__layer-caption{
display: none;
}

  html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.timeline-container {
    height: 100px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    z-index: 999;
    max-height: 420px;
    padding: 0;
    width: 100%;
    background-size: contain;
    background: linear-gradient(rgba(10,41,65,0),rgba(10,41,65,.6));
}
.timeline-nav {
    position: absolute;
    top: 55px;
    bottom: auto;
    color: #dfdfdf;
    border: 2px solid #dfdfdf;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}
.timeline-nav:hover {
    color: #808;
    border: 2px solid #808;
    cursor: pointer;
}
.nav-future {
    right: 10px;
}
.nav-past {
    left: 10px;
}
.timeline-nav.inactive:hover {
    color: #dfdfdf;
    border: 2px solid #dfdfdf;
    cursor: not-allowed;
}
#timelineWrapper {
    position: relative;
    height: 100%;
    margin: 0 50px;
    overflow: hidden;
}


#timeline {
    position: absolute;
    z-index: 1;
    top: 69px;
    width: 100%;
    height: 2px;
    background-color: #dfdfdf;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.event-marker {
    position: absolute;
    top: -6px;
    width: 10px;
    height: 10px;
    background-color: #f8f8f8;
    border: 2px solid #dfdfdf;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.event-marker.selected {
    transform: scale(1.2);
    background-color: #079309;
    border: 2px solid #079309;
}
.event-marker:hover {
    transform: scale(1.2);
    background-color: #079309;
    border: 2px solid #079309;
}
.event-date{
    position: relative;
    bottom: 25px;
    width: 30px;
}
.timeline-tick {
    position: absolute;
    bottom: 0;
    width: 2px;
    height: 20px;
    background-color: #dfdfdf;
}
.tick-label {
    position: absolute;
    bottom: 27px;
    font-size: 7pt;
    font-weight: bold;
    margin-left: -4px;
    color: #fff;
}
.event-detail-container {
    min-height: 150px;
    background-color: #f8f8f8;
    padding: 20px;
}
.selected-event {
    width: 60%;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 12px;
}
.event-title {
    font-family: 'Georgia', serif;
    font-size: 20px;
}
.event-date-range {
    margin-top: 10px;
}
.event-start-date {
    display: inline-block;
}
.separator {
    display: inline-block;
}
.event-end-date {
    display: inline-block;
}
.event-notes {
    margin-top: 10px;
}