/* begin code - 31.7.2018 */
* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  
  .header-logo{
    margin: auto;
  }
  .logo img {
    width: 100px;
    height: auto;
  }
  .header-navbar {
    display: grid;
    grid-template-columns: 9% auto;
    padding: 2px;
    background: #d8faeb;
  }
  .header-image > a > img{
    width: 220px;
    height: 90px;
    opacity: 0.7;
  }
  .big-title{
    color: #079309;
    font-size: 20px;
    text-transform: uppercase;
    word-spacing: 5px;
    padding: 5px 0;
    font-weight: bold;
  }
  .small-title{
    color: #079309;
    font-size: 24px;
    text-transform: uppercase;
    word-spacing: 5px;
    font-weight: bolder;
    text-shadow: 1px 1px #999;
  }
  
  .header-title{
  padding-top: 10px;
  padding-left: 10px;
  }
  
  .logo {
  margin: 20px 0 40px 0;
  }
  
  .logo img {
  width: 90px;
  height: auto;
  }

div#mapDiv {
    height: 78vh;
}
#search-tool>div {
    height: 100%;
}
#search-tool > div > span > span > span.k-select, #search-tool > div > span > span > span.k-input{
    background-color: #079309;
    color: #fff;
}
ul.fieldList {
    margin: 0;
    list-style: none;
    padding: 0;
}
label {
    display: inline-block;
    width: 100%;
    margin-bottom: 2px;
    margin-top: 8px;
    font-weight: bold;
    font-size: 12px;
}
input.input-field.k-textbox, input.input-field {
    height: 35px;
    color: #000;
    border-color: #bcb0b0;
    border-width: 1px;
    border-style: solid;
}
span.k-widget.k-dropdown.k-header.input-field, span.k-widget.k-datepicker.k-header.input-field {
    color: #000;
    border-color: #bcb0b0;
    border-width: 1px;
    border-style: solid;
}
.content-panel{
    padding: 0 10px;
    overflow-y: auto;
    max-height: 60vh !important;
    background: #d8faeb;
}
div#title-search {
    background-color: #079309;
    color: #fff;
    padding: 7px 6px;
    font-weight: 500;
}
#query-fields-widget button.k-primary{
    margin: 10px 0;
    width: 100%;
    background: #079309;
    border-color: #079309;
}
button.k-primary ,.k-header{
    background: #079309;
    border-color: #079309;
}
.k-primary:hover,.k-primary.k-state-active,.k-primary:active:hover, .k-primary:hover, .k-primary.k-state-focused, .k-primary:active, .k-primary:focus {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
a.k-button.k-button-icontext.k-grid-excel{
    background: #079309;
    border-color: #079309;
}
.k-grid .k-header .k-button:hover{
    background: #5cc461;
    border-color: #5cc461;
}
.k-calendar .k-today {
    background-color: #5cc461;
}
.panel-info {
    border-color: #079309;
}

.panel-group {
    background-color: #079309;
    margin-bottom: 20px;
    padding: 1px 2px 4px 2px;
}
.left_panel1{
    position: absolute;
    right: 5px;
    top: 158px;
    width: 300px;
}
div#LayerList_Content {
    overflow-y: auto;
    max-height: 60vh !important;
}
.esriToggleButton.esri-icon-right {
    margin-right: 6px;
}
.esriToggleButton.esri-icon-down {
    margin-right: 6px;
}


/* video css */
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.table thead tr th {
    text-align: left;
    background-color: #079309;
    color: #fff;
}
.table th, .table td {
    padding: 10px !important;
}
input.btn-custom{
    padding: 6px;
    margin: 10px;
    background-color: #079309;
    color: #fff;
    width: 120px;
}
input.btn-custom:hover{
    background-color: #3ead3f;
    color: #fff;
}
input.btn-custom-default{
    padding: 6px;
    margin: 10px;
    width: 120px;
    background-color: #CDCDCD;
    border: 1px solid #9d9d9d;
    color: #333;
}
input.btn-custom-default:hover{
    background-color: #f8f8f8;
}
input#insert-data{
    float: right;
    padding: 8px;
    margin: 10px;
    width: 120px;
}
.content {
    padding: 0 10px;
}
.video {
    margin: 15px 10px;
}
.video-group {
    margin-top: 20px;
}
.input-control{
    color: #000;
    border-color: #bcb0b0;
    border-width: 1px;
    border-style: solid;
    margin: 0 10px 0 0;
    width: 125px;
}
.input-field {
    margin-bottom: 20px;
}
span.k-widget.k-datepicker.k-header {
    margin: 0 10px 0 0;
}

  

/* Bản đồ ngập */
div#viewDiv {
    height: 78vh;
  }