body{
    background: url(/Content/images/chongngap/gserver02.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    /* background-image: url(/Content/images/chongngap/gserver02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Segoe UI","Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math" */
}

ul
{
    list-style:none;
}
#web_head
{
height: 85px;
color: #AFDEFA;
font-size: 1.8em;
position: relative;
margin: 0px;
font-weight: 300;
background: #47a3da none repeat scroll 0% 0%;
text-align: center;
}

#web_head img
{
    margin-left: 10px;
    float:left;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border: 1px solid #4C9ED9;
}

#web_head img, #web_head span
{
    top: 50%;
    vertical-align: middle;

}
#web_head span
{
    font-size:22px;
    font-family: 'Times New Roman';
    color: #b90505;
}

.inner
{
    width:370px;
    margin:0 auto;
}
form {
    background: #ffffff;
    box-shadow: 3px 3px 5px 6px #888888a8;
    -webkit-box-shadow: 3px 3px 5px 6px #888888a8; 
  -moz-box-shadow:    3px 3px 5px 6px #888888a8; 
}
label {
    font-weight: bolder;
    font-size: 14px;
}
.site-wrapper {
    position: absolute;
    top: 50%;
    right: 3%;
    width: 30em;
    height: 18em;
    margin-top: -15em;
}

@media only screen and (max-width: 600px){
    .site-wrapper {
        right: 0;
        width: 26em;
    }
}
 