
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}

input.form-control,textarea.form-control {
    max-width: 700px;
}
#header {
    text-align: center;
    color: #cf0606;
    background-color: #71a8fb;
    padding: 10px;
    overflow:auto;
}

    #header h1, #header h3 {
        margin: 0;
        text-shadow: 1px 1px #cdcdcd;
        font-size:1.5em;
    }


.carousel {
    border-top: 1px solid #e6dddd;
}

#bottom {
    padding: 25px 0;
    text-align: center;
}

.navbar {
    min-height: unset;
    margin-bottom: 0px;
    border-radius: 0px;
}

.navbar-nav > li > a {
    padding: 5px 10px;
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default {
    background-color: #079309;
    border: none;
}

.navbar-brand {
    float: left;
    padding: 4px 15px;
    font-size: 18px;
    line-height: normal;
    height: unset;
    color: #fff !important;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #cdcdcd;
}

.navbar-toggle {
    padding: 4px;
    margin: 2px 2px 1px 2px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #f5f5f5;
}

.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #079309;
}

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #a01313 !important;
            background-color: transparent;
        }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #188411;
    color: #fff;
}


.esriLayerList .esriContainer {
    background-color: #d8faeb !important;
}

.esriLayerList .esriScaleInvisible .esriLabel {
    color: #041045 !important;
    font-family: Arial;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
}

#navToolbar {
    text-align: right;
    padding-right: 5px;
}

.zoominIcon {
    background-image: url(https://developers.arcgis.com/javascript/3/samples/toolbar_navigation/images/nav_zoomin.png);
    width: 16px;
    height: 16px;
}

.zoomoutIcon {
    background-image: url(https://developers.arcgis.com/javascript/3/samples/toolbar_navigation/images/nav_zoomout.png);
    width: 16px;
    height: 16px;
}

.zoomfullextIcon {
    background-image: url(https://developers.arcgis.com/javascript/3/samples/toolbar_navigation/images/nav_fullextent.png);
    width: 16px;
    height: 16px;
}

.zoomprevIcon {
    background-image: url(https://developers.arcgis.com/javascript/3/samples/toolbar_navigation/images/nav_previous.png);
    width: 16px;
    height: 16px;
}

.zoomnextIcon {
    background-image: url(https://developers.arcgis.com/javascript/3/samples/toolbar_navigation/images/nav_next.png);
    width: 16px;
    height: 16px;
}

.panIcon {
    background-image: url(https://developers.arcgis.com/javascript/3/samples/toolbar_navigation/images/nav_pan.png);
    width: 16px;
    height: 16px;
}

.deactivateIcon {
    background-image: url(https://developers.arcgis.com/javascript/3/samples/toolbar_navigation/images/nav_decline.png);
    width: 16px;
    height: 16px;
}


.esriAttributeInspector .atiLayerName {
    display: none;
}

.esriPopup .titlePane {
    background-color: #081f89 !important;
}

.esriPopup .pointer.topRight {
    background-color: #081f89 !important;
}

.esriPopup .pointer.topLeft {
    background-color: #081f89 !important;
}

.esriPopup .pointer.top {
    background-color: #081f89 !important;
}


.left_panel {
    width: 300px;
    position: absolute;
    right: 405px;
    top: 130px;
    background-color: #079309;
    z-index: 999;
    padding: 1px 2px 4px 2px;
    color: #fff;
    overflow:hidden;
    overflow-y:auto;
}

.headerLeftPanel {
    padding: 5px;
    color: #fff;
    font-weight: 500;
    padding: 7px 6px;
}


.display {
    display: block;
}

.undisplay {
    display: none;
}

.SearchPanel_Content {
    padding-bottom: 5px;
    overflow: hidden;
    overflow-y: auto;
}

#result_SearchData {
    overflow: hidden;
    overflow-y: auto;
}

.item {
    padding: 5px;
    cursor: pointer;
}

    .item:hover {
        background-color: #057892;
        color: #fff;
    }

.loading-label {
    padding: 5px 0;
    color: #b90808;
    font-weight: 700;
}
div#report-objects {
    padding: 0;
}
.k-widget.k-window{
    padding-top: 38px;
    min-width: 90px;
    min-height: 50px;
    display: block;
    z-index: 10003;
    opacity: 1;
    position: absolute;
    width: 574px;
}
.k-widget.k-window.k-dialog.k-alert{
    background-color: #079309;
    /* #4285F4; */
}
span.k-window-title.k-dialog-title {
    color: #fff;
}
.dijitToggleButton, .dijitButton, .dijitDropDownButton, .dijitComboButton{
    margin: 0;
}
span.dijit.dijitReset.dijitInline.saveButton.dijitButton {
    margin: 0px 10px;
}
span.dijit.dijitReset.dijitInline.dijitButton {
    margin-right: 25px;
}

tr.k-state-selected{
    background-color: #d8faeb !important;
    color:#333 !important;;
}
.k-grid tr.k-state-selected:hover td {
    background-color: #d8faeb !important;
    color:#333 !important;;
}
.k-grid td {
    padding: 10px 5px;
}
.k-picker-wrap.k-state-default>.k-select {
    border-color: #079309;
}
span.k-select {
    background-color: #079309;
    color: #fff;
}
input#end,input#start {
    color: red;
    border: 1px solid #079309;
    background-color: #d8faeb;
    color:#333;
}
span.k-select:hover,span.k-select:active:hover {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
span.span-label {
    margin: 0 7px 0 0;
}
button#btnView {
    margin-left: 50px;
}