<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
mustMatch="true">
  <serverUrls>
    <serverUrl url="https://js.arcgis.com/3.20/"
    matchAll="true"/>
    <serverUrl url="http://112.78.4.175:6080/arcgis/rest/services/Utilities/Geometry/GeometryServer"
    matchAll="true"/>
    <serverUrl url="http://112.78.4.175:6080/arcgis/rest/services/Utilities/PrintingTools/GPServer/Export%20Web%20Map%20Task"
    matchAll="true"/>
    <serverUrl url= "http://112.78.4.175:6080/arcgis/rest/services/BaseMap_ChongNgapBD/MapServer"
    matchAll="true"/>
    <serverUrl url= "http://112.78.4.175:6080/arcgis/rest/services/BaseMap_ChongNgapBD/MapServer/5"
    matchAll="true"/>
    <serverUrl url= "http://112.78.4.175:6080/arcgis/rest/services/BaseMap_ChongNgapBD/MapServer/4"
    matchAll="true"/>
    <serverUrl url= "http://112.78.4.175:6080/arcgis/rest/services/ChuyenDe_ChongNgapBD/MapServer"
    matchAll="true"/>
    <serverUrl url= "http://112.78.4.175:6080/arcgis/rest/services/ChuyenDe_ChongNgapBD/MapServer/0"
    matchAll="true"/>
    <serverUrl url= "http://112.78.4.175:6080/arcgis/rest/services/ChuyenDe_ChongNgapBD/MapServer/1"
    matchAll="true"/>    
    <serverUrl url= "http://112.78.4.175:6080/arcgis/rest/services/ChuyenDe_ChongNgapBD/MapServer/2"
    matchAll="true"/>
    <serverUrl url= "http://112.78.4.175:6080/arcgis/rest/services/ChuyenDe_ChongNgapBD/MapServer/3"
    matchAll="true"/>
    <serverUrl url= "http://112.78.4.175:6080/arcgis/rest/services/ChuyenDe_ChongNgapBD/MapServer/4"
    matchAll="true"/>
    <serverUrl url= "http://112.78.4.175:6080/arcgis/rest/services/ChuyenDe_ChongNgapBD/MapServer/5"
    matchAll="true"/>
    <serverUrl url= "http://112.78.4.175:6080/arcgis/rest/services/ChuyenDe_ChongNgapBD/MapServer/6"
    matchAll="true"/>
    <serverUrl url= "http://112.78.4.175:6080/arcgis/rest/services/ChuyenDe_ChongNgapBD/MapServer/7"
    matchAll="true"/>
    <serverUrl url= "http://112.78.4.175:6080/arcgis/rest/services/ChuyenDe_ChongNgapBD/MapServer/8"
    matchAll="true"/>
    <serverUrl url= "http://112.78.4.175:6080/arcgis/rest/services/ChuyenDe_ChongNgapBD/MapServer/9"
    matchAll="true"/>
    
  </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->

